<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.whj.photovideopicker" >

    <application
        android:theme="@style/AppTheme"
        android:supportsRtl="true"
        android:allowBackup="true">

        <activity
            android:name=".PickerMainActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen" />

        <activity
            android:name=".PhotoPreviewActivity"
            android:theme="@style/photopager_translucent"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen" />
        <activity
            android:name=".VideoRecorderActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen" />
        <provider
            android:name="com.whj.photovideopicker.utils.PhotoFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />

        </provider>


        <activity
            android:name="me.kareluo.imaging.IMGGalleryActivity"
            android:theme="@style/ImageGalleryTheme" />

        <activity
            android:name="me.kareluo.imaging.IMGEditActivity"
            android:theme="@style/ImageEditTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity android:name="com.otaliastudios.cameraview.CameraActivity"
            android:hardwareAccelerated="true"
            android:configChanges="orientation|screenLayout|keyboardHidden"/>

    </application>

</manifest>
